
@import 'pictures';
@import 'header';
@import 'footer';

$primary-color: #FFFFFF;

$text-color: #111111;
$font-weight: (
  "normal": 400,
  "medium": 500,
  "bold": 700
);



body {
    background: $primary-color;
    color: $text-color;
}


.page {
  max-width: 1150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
  


.main {
   
  max-width: 1110px;
  width: 100%;

  &__subheadline {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, bold);
      color: #4A4FF2;
      font-size: 22px;
      max-width: 173px;
      width: 100%;
      margin-top: 6em;
      }

      &__headline {
        font-family: "Mulish", sans-serif;
        font-weight: map-get($font-weight, bold);
        font-size: 40px;
        max-width: 600px;
        width: 100%;
        display: flex;
        display: inline-block;
    }

        &__newcolor {
          color: #4A4FF2;
    }

        &__quote {
          font-family: "Mulish", sans-serif;
          font-weight: map-get($font-weight, normal);
          font-size: 17px;
          font-style: italic;
          max-width: 207px;
          width: 100%;
          display: flex;
          display: inline-block; 
    }

        &__overline {
          text-decoration-line: overline;
    }
  }

.info-box {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, bold);
      font-size: 28px;
}

.table-home {
  max-width: 1110px;
  width: 100%;
  margin: 20px 0 20px 0px;
}

.awards {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, bold);
      font-size: 22px;
      line-height: auto;
}

.site-of-day {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, bold);
      font-size: 18px;
      line-height: auto;
}

.genesis {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, normal);
      font-size: 16px;
      line-height: auto;
}

.year {
  font-family: "Mulish", sans-serif;
  font-weight: map-get($font-weight, normal);
  font-size: 16px;
  line-height: auto;
}

.genesis-info {
  font-family: "Mulish", sans-serif;
  font-weight: map-get($font-weight, normal);
  font-size: 16px;
  line-height: 26px;
  height: 90px;
  display: flex;
  align-items: flex-start;
}


/*
.box {
    display: flex;
    flex-direction: row;

    &__info {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, bold);
      font-size: 18px;
    }
}

.info {
  font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, bold);
      font-size: 100px;
     
}

.nav-first {
  font-family: "Mulish", sans-serif;
  font-weight: map-get($font-weight, normal);
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0px;
  display: flex;
  display: inline-block;

}

.nav-second {
  font-family: "Mulish", sans-serif;
  font-weight: map-get($font-weight, normal);
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0px;
  display: flex;
  display: inline-block;
}


.navbar-second {
  font-family: "Mulish", sans-serif;
  font-weight: map-get($font-weight, normal);
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0px;
  margin-left: 94px;
  display: flex;
  flex-direction: row;
    
    ul {
  
    list-style-type: none;

    li {
      

      a {
        color: #111111;
        text-decoration: none;
      }
    }
  }




.awards {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: baseline;
    justify-content: space-between;

    #{&}__box {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, bold);
      font-size: 22px;
      max-width: 200px;
      width: 100%;
      display: flex;
      display: inline-block;
      justify-self: baseline;
      margin: 20px;
    }

    #{&}__siteoftheday {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, bold);
      font-size: 18px;
      max-width: 200px;
      width: 100%;
      display: flex;
      display: inline-block;
      justify-self: baseline;
      margin: 20px;
    }

    #{&}__genesis {
      font-family: "Mulish", sans-serif;
      font-weight: map-get($font-weight, normal);
      font-size: 16px;
      max-width: 200px;
      width: 100%;
      display: flex;
      display: inline-block;
      justify-self: baseline;
      margin: 20px;
    }
}




.line-second {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: baseline;
  justify-content: space-between;

  #{&}__empty {
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, bold);
    font-size: 22px;
    max-width: 200px;
    width: 100%;
    display: flex;
    display: inline-block;
    justify-self: baseline;
    margin: 20px;
  }

  #{&}__bestnav {
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, bold);
    font-size: 18px;
    max-width: 200px;
    width: 100%;
    display: flex;
    display: inline-block;
    justify-self: baseline;
    margin: 20px;
  }

  #{&}__template {
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, normal);
    font-size: 16px;
    max-width: 200px;
    width: 100%;
    display: flex;
    display: inline-block;
    justify-self: baseline;
    margin: 20px;
  }
}

.css-third {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: baseline;
  justify-content: space-between;

  #{&}__design-awards {
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, bold);
    font-size: 22px;
    max-width: 200px;
    width: 100%;
    display: flex;
    display: inline-block;
    justify-self: baseline;
    margin: 20px;
  }

  #{&}__site-of-day {
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, bold);
    font-size: 18px;
    max-width: 200px;
    width: 100%;
    display: flex;
    display: inline-block;
    justify-self: baseline;
    margin: 20px;
  }

  #{&}__genesis-ui-kit {
    font-family: "Mulish", sans-serif;
    font-weight: map-get($font-weight, normal);
    font-size: 16px;
    max-width: 200px;
    width: 100%;
    display: flex;
    display: inline-block;
    justify-self: baseline;
    margin: 20px;
  }
}*/









