


.gallery-container {
    max-width: 1110px;
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.gallery-img {
    width: 100%;

}

/*
.img {
    max-width: 1110px;
    width: 100%;
    height: 100vh;
    display: flex;
 

        &__first {
            display: flex;
            justify-content: flex-start;
            margin-top: 150px;
            margin-bottom: 20px;
        }

        &__second {
            display: flex;
            justify-content: flex-start;
        }

        &__third {
            display: flex;
            justify-content: center;
            margin-left: 20px;
            margin-top: -104px;
        }

        &__fourth {
            display: flex;
            justify-content: flex-end;
            margin-left: 27px;
            margin-top: 268px;
        }

        &__trees {
            width: 350px;
            margin-top: 45px;
        }
    
        &__flowers {
            margin-top: 45px;
            width: 350px;
            margin-left: 30px;
        }
    
        &__darkness {
            width: 350px;
            margin-left: 30px;
            margin-top: 45px;
        }
    }


    .img {
        max-width: 1110px;
        width: 100%;
    
        &__map {
            width: 1110px;
           
        }
    }*/
    