.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 2em;
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.nav-bar {
  position: absolute;
  top: 2em;
  width: 100%;
  padding: 20px 0px 20px 0px;
}
.nav-bar ul {
  text-align: center;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}
.nav-bar ul li {
  display: inline;
  font-family: "Mulish", sans-serif;
  font-size: 17px;
}
.nav-bar ul li a {
  color: #111111;
  text-decoration: none;
  padding: 14px;
}
.nav-bar ul li a:hover {
  background-color: #919191;
  opacity: 80%;
}